- person ||= @person
- avatar_size ||= "48x48"
.person.vcard{:id => person.id}
  .more-info
    %a.button.small.dark{:href => follow_person_path(person.id)}
      - begin
        - if false #@twitter_base and @twitter_base.friendship_exists?(current_user.login, person.screen_name)
          = 'unfollow'
        - else
          = 'follow'
      - rescue Exception => ex
        - flash[:error] = ex.message
        = 'follow'
  .more-info.stats
    %a{:href => person_path(person.id)}
      = image_tag("/images/chart-icon.png") 
      %small= t('stats')
  .more-info
    %a{:href => person_path(person.id)}
      = person.followers_count.to_i
      %small= t('followers')
  %a.avatar{:href => person_path(person.id)}
    = twitter_profile_image(person)
  %h3.snug= link_to person.display_name, person_path(person.id), :class => 'fn url'
  %p.bio= person.description