- person ||= @person
- avatar_size ||= "48x48"
- if person.tweets?
  .twitter-info
    %a.avatar{:href => twitter_user_url(person.screen_name)}
      - unless person.profile_image_url.blank?
        = image_tag(person.profile_image_url.gsub(/_normal./, '_bigger.'), :class => 'profile-image', :size => avatar_size)
    %h3
      %a.twitter-username{:href => twitter_user_url(person.screen_name)}= person.screen_name
    %ul.stats
      %li.following
        %a{:href => twitter_user_friends_url(person.screen_name)}
          = person.friends_count
          %span following
      %li.followers
        %a{:href => twitter_user_followers_url(person.screen_name)}
          = person.followers_count
          %span followers
      %li.updates
        %a{:href => twitter_user_url(person.screen_name)}
          = person.statuses_count
          %span updates
    %br.clear