= render :partial => 'search_form'
%h1= t('users')
.users.span-18
  .pagination-info= page_entries_info(@users)
  = will_paginate(@users)
  = render :partial => 'shared/search_filter'
  - unless @users.empty?
    - @users.each do |user|
      = render :partial => 'users/user', :locals => {:user => user, :avatar_size => '64x64'}
  %br.clear
.sidebar.span-5.prepend-1.last
  %form.options.box{:method => 'GET'}
    %h4= t('options')
    %label
      = "#{t('sort_by')}:"
      %select{:name => 'sort'}
        %option{:value => 'users.name'}= t('name')
        %option{:value => 'users.followers_count'}= t('followers')
    %label
      = "#{t('direction')}:"
      %select{:name => 'reverse'}
        %option{:value => ''}= t('asc')
        %option{:value => 'true'}= t('desc')
    %label
      = "#{t('per_page')}:"
      %select{:name => 'per_page'}
        %option{:value => '10'} 10
        %option{:value => '25'} 25
        %option{:value => '50'} 50
        %option{:value => '1000'}= t('all')
    .form-buttons
      %button.small= t('update')
      = t('or')
      = link_to t('cancel'), users_path
