%h1= @user.name
.span-12.append-1
  = render :partial => 'users/twitter_info', :locals => {:avatar_size => '64x64'}
  = render :partial => 'shared/tweetstream', :locals => {:show_pagination => false, :limit => 5}
#breakdown.box.span-10.last= render :partial => 'vitals'
#stats.box= render :partial => 'shared/stats'
= render :partial => 'shared/graph_scripts'