- max = stats.first.last if stats and stats.first and not stats.first.empty?
- min = stats.last.last if stats and stats.last and not stats.last.empty?
- if min and max
  - width ||= 400.0
  - height ||= 40.0
  - scale = width/max.to_f # 620 max width
  - spacing = 3
  %dl.graph
    - stats.each do |user, total|
      %dt
        %a{:href => detail_path_for_user(user)}
          = twitter_profile_image(user)
          = user.name
      %dd{:style => "width: #{total.to_f*scale}px"}
        = detail_link_for_user(user, "(#{number_with_delimiter(total, :delimiter => ',')})")
        
  %br.clear
