= render :partial => 'people/search_form'
%h1= t('users')
= render :partial => 'shared/search_filter'
#people
  - unless @users.empty?
    .pagination-info= page_entries_info @users    
    = will_paginate @users
    %br.clear
    %table.people.floxee-admin.index
      %tr
        %th= t('name')
        %th= t('screen_name')
        %th= t('admin')

      - for user in @users
        %tr{:class => cycle('', 'alt')}
          %td.name
            %h4= link_to(user.name, edit_admin_user_path(user))
            %p= twitter_auto_link(user.description)
          %td.name= user.login
          %td.name
            - form_for([:admin, user], :method => :put) do |f|
              = f.check_box :admin, :class => 'isadmin'
              = f.submit 'update', :class => 'button small'
          