- is_admin = request.path.include?('admin')
!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head 
    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
      = javascript_include_tag 'excanvas.js'
    %script{ :type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js" }
    = javascript_include_tag 'jquery.timeago.js', 'jquery.flot.js',  'application.js'
    = yield :scripts
    :javascript
      jQuery(document).ready(function($) {
        $('#flash').animate({opacity: 1.0}, 4000).fadeOut('slow');
      });
    %meta{ :content => "text/html;charset=UTF-8", "http-equiv" => "content-type" }
    %title
      = "#{@page_title}"
      - unless current_page?('/') 
        \- Floxee
      - if ENV['RAILS_ENV'] == 'development'
        \--
        = controller.controller_name
        \:
        = controller.action_name
  - body_classes = [@controller.controller_name]
  - body_classes << 'admin' if is_admin
  %body{:class => body_classes.join(' ')}
    #sky
      #topwrap
        #wrapper.container
      
          #header
            = render :partial => 'shared/top_nav'
            %br.clear
          #content
            #flash
              - flash.each do |key, value|
                %h2#flash{ :class => key }
                  = value
            = yield
    #footer
      .container
        %ul.fr
          %li
            Floxee is released under the MIT license
          %li
            &copy;
            = DateTime.now.year
            Squeejee
          %li
            %a{:href => "http://pinvoke.com/"}= t('icons_by') + ' pInvoke'
        .footer-left.fl.di
          %span.text.fl.di
            Powered by
          %span.img.fl.di#floxee
            = link_to(image_tag("/images/floxee-small.png"), 'http://floxee.org', :target => '_blank')
          %br.clear
          %span.text.fl.di
            Another
          %span.img.fl#squeejee
            %a{:href => 'http://squeejee.com', :target => '_blank'}
              %img{ :src => '/images/squeejee-logo.png', :alt => 'squeejee logo'}
          %span.text.fl.di
            invention
        %br.clear
        
        
